
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

h1{
    color: #fff;
    /* font-size: 1.5rem; */
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-left: .3em;
}


.container{
    display: flex;
    justify-content: space-evenly;
    background-color: #1B244A;
    max-width: 500px;
    margin: auto;
}


.blank_space{
    background-color: black;
    /* max-width: 70px; */
    color: #F94F6D;
    font-size: 4rem;
    font-family: sans-serif;
    text-align: center;
    padding: .2em .5em;
    margin: .2em 0;
    border-radius: 7px;
}

button{
    border: none;
    border-radius: 6px;
    /* width: 30px; */
    font-family: sans-serif;
    color: #9AABD8;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    font-size: 1rem;
    padding: .5em .5em;
    cursor: pointer;
}

.reset-btn{
    display: block;
    margin: .7em 0 3em;
    padding: .5em 1em;    
}