body{
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
}

h3, h4{
    color: #fff;
    font-weight: 800;
}


.container{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    max-width: 500px;
    margin: auto;
}

.blank_space{
    background-color: black;
    max-width: 100px;
    color: #fff;
}

button{
    border: none;
    /* border-radius: 12px; */
    /* width: 30px; */
    margin-bottom: 20px;
}